<script>
try{
	function __formatParams(data) {
	    var arr = [];
	    var name;
	    for (name in data) {
	        arr.push(name + "=" + data[name]);
	    }
	    return arr.join("&");
	};
	window.__CAT = function(option){
		var params = __formatParams({
    	    n:"load-"+option.n,
      		v:1,
      		l:"ERROR",
      		msg:(this.src || this.href || "模块")+"加载失败",
      		data:encodeURIComponent(
              '{"url":'+location.href+
              '"filename":""'+
              '"version":'+(option.v || "")+
              '"ua":'+navigator.userAgent
          	)
	  	});
	  	var image = new Image(1, 1);
	  	image.src = "//webcatdot.dianping.com/web-broker-service/api/js?"+params;
	};
}catch(e){
}
</script>